<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Dashboard</title>
  </head>
  <body>
    Dashboard de <%= @restaurante.nombre %> <br>
    <a href=<%="/restaurantprofile/#{@restaurante.id}"%>> Ir a perfil </a>
    <p> Ordenes:
      <ul>
        <% @ordenes.each do |orden|%>
        <li> <%= orden.id %></li>
        <% end %>
      </ul>
    </p>

    <p> Comentarios de Restaurante:
      <ul>
        <% @comentarios_rest.each do |comment|%>
          <li>
            <p>Valoracion: <%=comment.puntaje%>/5</p>
            <p>Usuario: <%=UsuariosController.get_user_from_id(comment.usuario_id).nombre%></p>
            <p>Comentario: <%=comment.contenido%></p>
            <p>Fecha: <%=comment.fecha.strftime("%d/%m/%Y")%></p>
          </li>
        <% end %>
      </ul>
    </p>

    <p> Platos:
      <ul>
        <% @platos.each do |plato|%>
          <% @id = plato.id %>
          <li> <a href=<%="/info_plato/#{@restaurante.id}/#{@id}"%>> <%= plato.nombre %> </a> </li>
          <form action=<%="/eliminar_plato/#{@restaurante.id}/#{plato.id}"%> method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Eliminar Plato">
          </form>
        <% end %>
      </ul>
    </p>

    <a href=<%="/crear_plato/#{@restaurante.id}"%>> Crear Plato </a> <br>
    <a href="/"> Salir </a>
  </body>
</html>
