<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Dashboard</title>
  </head>
  <body>
    Dashboard de <%= @restaurante.nombre %>

    <p> Ordenes:
      <ul>
        <% @ordenes.each do |orden|%>
        <li> <%= orden.id %></li>
        <% end %>
      </ul>
    </p>

    <p> Comentarios de Platos:
      <ul>
        <% @comentarios_platos.each do |comment|%>
        <li> <%= comment.contenido %></li>
        <% end %>
      </ul>
    </p>

    <p> Comentarios de Restaurante:
      <ul>
        <% @comentarios_rest.each do |comment|%>
        <li> <%= comment.contenido %></li>
        <% end %>
      </ul>
    </p>

    <p> Platos:
      <ul>
        <% @platos.each do |plato|%>
          <% @id = plato.id %>
          <li> <a href=<%="/info_plato/#{@restaurante.id}/#{@id}"%>> <%= plato.nombre %> </a> </li>
        <% end %>
      </ul>
    </p>

    <a href=<%="/crear_plato/#{@restaurante.id}"%>> Crear Plato </a>

  </body>
</html>
