
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Confirmar Pedido</title>
  </head>
  <body>

    <h3>Pedido:</h3>

    <ul>
      <% @platos.each do |plato| %>
        <% if @datos[plato.id].class != nil %>
          <li> <%="Plato: #{plato.nombre},   Cantidad: #{@datos[plato.id.to_s]}" %></li>
        <% end %>
      <% end %>
    </ul>

    <h3>Informacion de compra: </h3>

    <ul>
      <form action=<%="/userdashboard/#{@usuario.id}/#{@restaurante.id}/confirm"%> method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <% @datos.each do |key, value|%>
          <input type="hidden" name="datos[<%=key%>]" value="<%=value%>">
        <% end %>

        <li>Direccion: <input type="text" name="carrito[direccion_entrega]" value="<%=@usuario.direccion%>"></li>

        <label>Medio de pago: </label>
        <select name="carrito[medio_pago]">
          <option value="2">Credito</option>
          <option value="3">Debito</option>
          <option value="1">Efectivo</option>
          <option value="4">EetsPay</option>
        </select>

        <li>Notas: <input type="text" name="carrito[notas]" value=""></li>
        <input type="submit" value="Hacer Pedido">

      </form>
    </ul>

    <a href=<%="/userdashboard/#{@usuario.id}"%>>Cancelar pedido y volver</a>

  </body>
</html>
