
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Pedido</title>
  </head>
  <body>
    <h2>Lista de Ordenes: </h2>

    <h4>Ordenes pasadas:</h4>
      <div class="ordenes_pasadas">
        <ol>
          <% if @ordenes_pasadas.nil? == false %>
            <% @ordenes_pasadas.each do |orden| %>
              <% rest = UsuariosController.find_rest_by_order_id(orden.id) %>
              <li>
                <%="Restaurante: #{rest.nombre}, Total: #{orden.precio} CLP"%>
                <a href=<%="/userdashboard/#{@id}/ordenes/#{orden.id}"%>>Detalle</a>
              </li>
            <% end %>
          <% end %>
        </ol>
      </div>

    <h4>Ordenes pendientes:</h4>
      <div class="ordenes_pendientes">
        <ol>
          <% if @ordenes_pendientes.nil? == false %>
            <% @ordenes_pendientes.each do |orden| %>
              <% rest = UsuariosController.find_rest_by_order_id(orden.id) %>
              <li>
                <%="Restaurante: #{rest.nombre}, Total: #{orden.precio} CLP"%>
                <a href=<%="/userdashboard/#{@id}/ordenes/#{orden.id}"%>>Detalle</a>
              </li>
            <% end %>
          <% end %>
        </ol>
      </div>

    <a href=<%="/userdashboard/#{@id}"%>>Volver a dashboard</a>

  </body>
</html>
