<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Pedido</title>
  </head>
  <body>
    <h2>Pedido a <%=@restaurante.nombre%></h2>

    <h4>Platos Disponibles: </h4>

    <form  action=<%="/userdashboard/#{@usuario.id}/#{@restaurante.id}"%> method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <ul>
        <% @platos.each do |plato| %>
          <li>
            <%=plato.nombre%>
            <input type="number" name="datos[<%=plato.id%>]" value=0>
          </li>
        <% end %>

        <input type="submit" value="Confirmar Pedido">

      </ul>
    </form>

    <a href=<%="/userdashboard/#{@usuario.id}"%>>Cancelar pedido y volver</a>

  </body>
</html>
