<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Uber Eets: Perfil Usuario</title>
  </head>
  <body>
    <h2> Perfil de <%= @usuario.nombre %></h2>

    <% if @success %>
      <h4><%= "Cambios Guardados!" %></h4>
    <% end %>

    <% if @usuario.image.attached? == true %>
      <%= image_tag(@usuario.image, size: "200x200") %>
    <% end %>

    <p>Nombre: <%= @usuario.nombre %></p>
    <p>Correo: <%= @usuario.correo %></p>
    <p>Direccion: <%= @usuario.direccion %></p>
    <p>Telefono: <%= @usuario.telefono %></p>

    <% if @restaurante_fav.nil? == false%>
      <p>Restaurante Favorito: <%= @restaurante_fav.nombre %></p>
    <% else %>
      <p>Restaurate Favorito: N/A </p>
    <% end %>

    <%= form_for @usuario, url: "/userdashboard/#{@usuario.id}/perfil/cambiar_img" do |form| %>
      <p>Cambiar Imagen:</p>
      <%= form.file_field :image %> <br>
      <%= form.submit "Guardar Imagen" %>
    <% end %>

    <form action=<%="/userdashboard/#{@usuario.id}/perfil"%> method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <p>
        <label>Cambiar nombre:</label>
        <input type="text" name="datos[nombre]">
      </p>
      <p>
        <label>Cambiar correo:</label>
        <input type="text" name="datos[correo]">
      </p>
      <p>
        <label>Cambiar direccion: </label>
        <input type="text" name="datos[direccion]">
      </p>
      <p>
        <label>Cambiar telefono:</label>
        <input type="text" name="datos[telefono]">
      </p>
      <p>
        <label>Cambiar contraseña:</label>
        <input type="password" name="datos[password]">
      </p>

      <label>Restaurante favorito: </label>
      <select name="fav">
        <option value="nil">No cambiar</option>
        <% @restaurantes.each do |rest|%>
          <option value=<%=rest.id%>> <%=rest.nombre%> </option>
        <% end %>
      </select>
      <br>
      <input type="submit" value="Guardar Cambios">
    </form>

    <a href=<%="/userdashboard/#{@usuario.id}"%>> Volver a Dashboard</a>

  </body>
</html>
